body{
  margin: 0;
  text-align: center;
  font-family: Merriweather, serif;
  font-size: 125%;
  color: #40514E;
}
p{
  line-height: 2;
}
h1{
  margin: 50px auto 0 auto;
  font-family: Sacramento, cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
h2{
  font-family: Montserrat, serif;
  font-size: 2.5rem;
  color: #66BFBF;
}
h3{
  font-family: Montserrat, serif;
  color: #11999E;
}

.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.pro{
  text-decoration: line-through;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
}

.top-cloud{
  position: absolute;
  right: 270px;
  top: 40px;
}
a{
  color: #11999E;
}
.sub{
  font-weight: normal;
}
hr{
  border-style: dotted none none;
  width: 5%;
  border-width: 8px;
  color: #EAE6E6;
  margin: 100px auto;
}
.middle-container{
  margin-top: 90px;
}



.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.small-code{
  width: 40%;
  float: left;
  margin-right: 30px;
}

.small-hot{
  width: 25%;
  float: right;
  margin-left: 10px;
}

#spec{
  margin: 10%;
}


.profile{
  width: 50%;
  margin: auto;
}

#dec_skl{
  color: #66BFBF;
}


.wrap{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial, serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.bottom-container{
  margin-top: 100px;
  background-color: #66BFBF;
  padding: 10px;
}

.footer-link{
  text-decoration: none;
  padding-top: 20px;
  color: #11999E;
  display: inline-block;
  margin: 20px 20px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;

}

.footer-link:hover{
  color: #eaf6f6;
}

#last{
  color: #EAF6F6;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  padding: 15px 0;
}
